.container {
  margin: 30px;
}

.gallery-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.gallery-list-item {
  width: calc(33%);
}

.gallery-list-img {
  width: 100%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
